<div class="mt-4">
    <form method="POST" >
        <div class="form-group mb-3">
            <label for="search-input" class="form-label">tu khoa</label>
            <input type="text" name="ques" class="form-control" id="search-input" aria-describedby="nhap ut khoa" placeholder="nhap tu khoa">
        </div>
         <div class="form-group mb-3">
            <label for="gender-input" class="form-label">tu khoa</label>
            <select name="gender" class="form-control" id="gender-input">
                <option value="">__Chon gioi tinh__</option>
                <option value="male">Nam</option>
                <option value="female">Nu</option>
            </select> 
        </div>
        
        <button type="submit" class="btn btn-primary">FIND</button>
    </form>
</div>